* {
  font-family: Arial, Helvetica, sans-serif;
}

.card-container {
  display: flex;
  background: #ddbea9;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  transition: all 0.2s;
  cursor: pointer;
  max-height: 300px;
  background: #3c6e71;
  color: white;
}

.card-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px;
  border-bottom: 1px solid #b7b7a4;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #284b63;
  padding: 10px;
}

.card-title {
  font-weight: 700;
  font-size: 16px;
}

.card-brand {
  font-weight: 500;
  font-size: 12px;
}

.card-content {
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 98vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}

.break {
  flex-basis: 100%;
  width: 0;
}

.card-container:hover {
  transform: scale(1.01);
  background: #284b63;
}

.card-content img {
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.footer-container {
  display: flex;
  background: white;
  width: 100%;
  z-index: 20;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
}

.group {
  display: flex;
  gap: 10px;
}

.group input {
  width: 50px;
}
